<!--The content below is only a placeholder and can be replaced.-->
<div class="d-flex flex-column justify-content-center align-items-center " style="height: 100vh; width: 100wh;">
    <div *ngIf="!error" class="title">
      <h4 class="font-weight-bold">{{title}}</h4>
    </div>
    <canvas  #canvas width="auto" height="auto" style="border:  red"></canvas>
    <div *ngIf="error" class="alert alert-danger text-center" role="alert">
      <span>{{error}}</span>
    </div>
</div>
<router-outlet></router-outlet>
